<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/api</directory>
        </testsuite>
    </testsuites>

    <!-- Exclude integration tests by default. Pass -group integration to include them. -->
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">api/v1</directory>
        </whitelist>
    </filter>
</phpunit>
