RewriteEngine On
RewriteBase /HostingerRepoRaptors/api/v1/

# Allow direct file access if exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Otherwise redirect everything to index.php
RewriteRule ^ index.php [QSA,L]
